<li>
  <div>
    <%= image_tag(recommend.user.image) %>
    <div>
      <%= recommend.user.name %>推薦
    </div>
  </div>
  <br>
  <!-- <%= image_tag(recommend.cuisine.url(:medium))%> -->
  <br>
  <div>
    <%= simple_format(recommend.content) %>
  </div>
</li>
