*{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: black;
}

a:hover{
  color: black;
  text-decoration: none;
}

body{
  overflow: hidden;
}

h2{
  font-size: 24px;
  font-weight: bold;  
}

/*login panel*/
.login_panel{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 5%;
  background-color: rgba(255, 255, 255, .8);
  height: 50%;
  width: 35%;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 3px 3px #666;
  padding: 20px;  
}

.login_panel>img{
  display: block;
  margin: auto;
}

.login_panel>div{
  display: block;
  padding: 30px 0;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.login_panel>a{
  display: block;
  margin: auto;
  width: 200px;
}

/*control panel*/
.control_panel{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 5%;
  background-color: rgba(255, 255, 100, .8);
  height: 25%;
  width: 35%;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 3px 3px #666;
  padding: 20px;
}



/*navigation bar*/
.nav_logo{
  font-size: 10px;
}

.nav_logo>img:first-child{
  float: left;
}

.nav_logo>div:last-child{
  float: right;
  margin: 10px 0;
}

.fb_login{
  float: right;
}

/*find food*/

.find_food{
  clear: both;
}

.find_food h2{
  margin: 50px 0 20px 0;
}

.find_food input{
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.find_food input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


/*food info*/
.food_info{
  z-index: 10;
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: -999;
  background-color: rgba(255, 255, 255, .9);
  height: 65%;
  width: 35%;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px #666;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all .7s;
}

.food_info .X{
  font-size: 16px;
  color: #666;
  position: absolute;
  top: 2%;
  left: 96%;
  cursor: pointer;
}

.food_info .recommend{
  position: absolute;
  top: 10%;
  left: 70%;
  font-size: 30px;
  display: none;
}

.food_info .recommend_already{
  position: absolute;
  top: 10%;
  left: 70%;
  font-size: 30px;
  display: none;
  background-color: #ff9;
}

.food_info .recommend_show{
  display: block;
}

.food_info .lat_info, .lng_info{
  display: none;
}

.food_info_fadeIn{
  top: 28%;
  opacity: 1;
  z-index: 999;
}

.food_info_content{
  width: 70%;
  padding-bottom: 20px;
}

.food_info_content>li{
  width: 100%;
  font-size: 20px;
}

.food_info_content>li:last-child{
  width: 130%;
}

.friend_info_content_wrapper{
  border-top: 1px solid #ccc;
  width: 100%;
  height: 55%;
  overflow: auto;
}

.friend_info_content{
  width: 20000px;
}

.friend_info_content>li{
  width: 31%;
  height: 100%;
  float: left;
  padding: 20px;
  font-size: 16px;

  
}

.friend_info_content>li>div:first-child{

}

.friend_info_content>li>div:last-child{
  font-size: 18px;
  padding-top: 20px;
  height: 100%;
  clear: both;
  overflow-y: scroll;
}

.friend_info_content>li>div:first-child>img{
  float: left;
  border: 1px solid black;
}

.friend_info_content>li>div:first-child>div{
  float: left;
  font-size: 30px;
  padding: 15px 0 0 20px;
}

/* map */

#gmaps{
  margin-top: 0px;
  width: 100%;
  height: 800px;
}

.friend_icon{
  width: 30px; 
  height: 30px;
  margin: 3px;
  border: 1px solid #555;
}

.marker_background{
  width: 36px; 
  height: 36px; 
  background-color: #faffa3;
}

/*recommend form*/

.form_hide{
  display: none;
}













